<html>

<head>
</head>

<body>
    
    <h1>{{date}}</h1>
    <br>
    <h1 id="hour"></h1>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>
    setInterval(function(){
        jQuery.ajax({
            url: '/ajax/time',
            success: function(data){
                document.querySelector("#hour").innerHTML = data;
            }
        })
    },1000);
    </script>
</body>

</html>